<h1>Productos</h1>
{{#if mostrarProductos}}
  {{#each productos}}
    <div>
      <p>Titulo: {{this.title}}</p>
      <p>Descripcion: {{this.description}}</p>
      <p>Precio: {{this.price}}</p>
      <p>Stock: {{this.stock}}</p>
    </div>
  {{/each}}
  <div>
    <h2>Datos del usuario:</h2>
    <p>Nombre: {{user.first_name}}</p>
    <p>Correo electrónico: {{user.email}}</p>
  </div>
{{else}}
  <p>no se puede mostrar</p>
{{/if}}